build.xml
.classpath
.factorypath
.project
edu.uci.megaguards.iml
edu.uci.megaguards.test.iml
*.settings
nbproject
*.jar
*.zip
*.sha1
mx.megaguards/env
*.pyc
currentAnnotationProcessors
mxbuild/mx.megaguards/savedDeps
mxbuild
workingsets.xml
.idea
MEGAGUARDS.dist
mx.megaguards/eclipse-launches
*.log
.rodinia
lib
*.json
megaguards/megaguards-benchmark-suite
language
.pydevproject
mx.megaguards.iml
dataset/
